@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

* {
  margin:0;
  padding:0;
  font-family: 'Inconsolata';
}

a {
  font-size: 14px;  
  cursor:pointer;
  padding:10px 20px 10px 20px;
  border-width:1px;
  border-style: solid;
  transition-duration: 0.5s;
}

a:hover {
  background-color:rgba(255, 255, 255, .3);
  transition-duration: 0.5s;
}

#text {
  font-size:16px;
  cursor:pointer;
}

.button {
  margin-top:25px;
  display:inline-block;
}

#center {
  position:absolute;
  width:300px;
  left:50%;
  top:50%;
  text-align: center;
  margin-left:-150px;
  margin-top:-35px;
}

body {
  transition-duration:1s;
}